/* 全局滚动条样式 */
html {
  overflow-y: scroll; /* 永远显示垂直滚动条 */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0,0,0,0.3) transparent; /* Firefox 滚动条颜色 */
}

/* Chrome, Edge, Safari */
html::-webkit-scrollbar {
  width: 4px; /* 滚动条宽度 */
}

html::-webkit-scrollbar-track {
  background: transparent; /* 滚动条轨道 */
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3); /* 滑块颜色 */
  border-radius: 3px; /* 滑块圆角 */
}


* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
