.z-background {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  will-change: height, opacity;
}

.z-bg-image {
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.z-bg-image.active {
  opacity: 1;
}

.z-bg-text {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  animation: fadeIn 2s ease-out forwards;
}

.z-description {
  margin-top: 0px;
  font-size: 20px;
}

/* 淡入动画 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

